.wrapper{
    position: absolute;
    top: 6em;
    right: 20em;
    height: 25em;
    width: 20em;
    border: 1px solid black;
    background-color: white;
   display: flex;
   padding: 5px;
   overflow: hidden;
   
}
.cross{
    position: absolute;
    right: 0.2em;
}
.login-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.signup-page{
    position: absolute;
    height: 100%;
    width: 100%;
    translate: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
 .wrapper.active .login-page{
    transition: none;
     translate: -400px;
}
.wrapper.active .signup-page{
    transition: none;
     translate: 0px;
}
.input-box input{
    height: 2em;
    width: 20em;
}
.remember-forgot{
    display: flex;
    width: 16.7em;
}
.remember-forgot a{
    margin-left: 3px;
}
button{
    width: 20em;
    height: 2em;
    background-color: red;
    color: white;
    border-radius: 3px;
}
