.Header{
    height: 30em;
    width: 100%;
    background-image: url('/header_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 14px;
    display: flex;
    margin-bottom: 5px;
    padding: 6em;
}
.header-content button{

    height: 3em;
    width: 8em;
    border-radius: 8px;
}