.sidebar{
    display: flex;
     width: 18%;
     min-height: 100vh;
   border: 1px solid black;
   position: relative;
}
.sidebar .options{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 4em;
}
.options .image{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 10em;
    height: 2em;
    margin-top: 0.8em;
    padding: 5px;
}
.image img{
    margin: 4px;
}
 .active{
    background-color: rgb(229, 235, 168);
}