.my-orders-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
}
.my-orders-order .order-names{
    border: 1px solid black;
    width: 20em;
}
.my-orders-order button{
    width: 8em;
}